*{
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.app{
  width: 100%;
  max-width: 375px;
  margin: auto;
  background: linear-gradient(to bottom, #4edbc6, #3e6688);
}

/* Pendu */
.pendu{
  text-align: center;
}

/* Score */
.score{
  font-size: 30px;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 0px;
  padding-top: 1em;
}

/* Keyboard */

.keyboard{
  text-align: center;
  padding-bottom: 3em;
}
.key{
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin : 5px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  font-family: Quicksand, sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
}
.clicked { background-color: #4edbc6; color : #fff; }


/* GuessWord */
.word{
  text-align: center;
  letter-spacing: 10px;
  font-size: 30px;
  margin: 1.5em 0;
}

/* EndScreen */
.endscreen{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8); 
  text-align: center;
}
.endscreen-title { 
  color: #fff;
  font-family: Quicksand, sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-top: 7em;
}
.endscreen-replay {  
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  font-family: Quicksand;
  font-size: 16px;
  color: #3e6b8a;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}


/* Replay */
:root {
  --width: 11px;
}
.arrow-box {
  cursor: pointer;
  color: #fff;
  position: relative;
  margin: auto;
  width: 130px;
  height: 30px;
  background-color: #4C7F2E;
  padding: 5px;
  border-radius: 5px;
}
.txt-box{
  margin: 6px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.arrow-box .arrow-round {
  position: absolute;
  right: 20px;
  top: 11px;
  width: var(--width);
  height: var(--width);
  border: calc(var(--width) / 4) solid #fff;
  border-radius: 50%;
  border-right-color: transparent;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.arrow-box .arrow-round::after {
  content: "";
  position: absolute;
  top: -22.5%;
  left: 65%;
  border: calc(var(--width) * 0.5) solid #fff;
  border-bottom-color: #fff;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}

.arrow-box:hover .arrow-round {
  transform: rotate(1turn) ;
}